html {
  font-size: 62.5%;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
strong {
  font-weight: 500;
}
/***********************/
/* GENERAL COMPONENTS */
/***********************/

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:last-child() {
  margin-bottom: 0;
  margin-bottom: 9.6rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  margin-top: 9.6rem;
}
.grid--5 {
  grid-template-columns: repeat(5, 1fr);
  margin-top: 9.6rem;
}

.grid-center-width {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 600;
  color: #272d34;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  color: #272d34;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-teritary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #748ffc;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #748ffc;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #5c7cfa;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #ececec;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  background-color: #272d34;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}
.link:link,
.link:visited {
  color: #748ffc;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #748ffc;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #5c7cfa;
}
.list-icon-last {
  height: 3rem;
  width: 3rem;
  color: #fff;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/******** HELP CLASSES */
.margin-right {
  margin-right: 1.6rem !important;
}
.margin-bottom {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
